#box {
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.item {
  width: 400px;
  height: auto;
  margin: 0 5px;
  color: #fff;
}
/* .App {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
